.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
.form-logrer {
  width: 400px;
  margin: 200px auto;
  border: 1px solid black;
  padding: 40px;
  border-radius: 20px;
}

.form-image{
  width: 1200px;
  margin: 0 auto;
}
.view-image{
  margin-top: 20px;
  width: 1200px;
}
.form-view-image {
  width: 350px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
}
.button-add{
  margin-top: 50px;
  text-align: center;
  margin-left: 500px;
}
.image {
  width: 330px;
  height: 200px;
}
.info-image{
  width: 280px;
}
.info-image-title{
  font-size: 18px;
  width: 270px;
}
.info-image-desc{
  height: 60px;
  overflow: auto;
  font-size: 18px;
  width: 270px;
}
.info-profile-desc{
  font-size: 18px;
  width: 430px;
}
.info-profile-desc-in{
  font-size: 18px;
  height: 60px;
  overflow: auto;
}
.info-image-span{
  font-size: 18px;
  margin-left: 5px;
}
.navbar-wel{
  width: 717px;
}
button.button-del {
  font-size: 14px;
  background-color: red;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 12px;
  width: 80px;
}

.navbar {
  width: 1420px;
  height: 62px;
  background-color: black;
  display: flex;
}
.navbar-nameapp{
  color: white;
  width: 600px;
  height: 62px;
  display: flex;
}

.navbar-profile{
  color: white;
  float: right;
  width: 800px;
  float: left;
  text-align: right;
  display: flex;
}
.btn-logout {
  border: 1px solid white;
  padding: 8px;
  border-radius: 15px;
  margin-left: 10px;
  background-color: white;
  color: black;
}
.title-logres {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
.form-profile {
  border: 2px solid black;
  width: 750px;
  height: 500px;
  margin-left: 389px;
  margin-top: 100px;
}
.title-profile {
  margin-top: 15px;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: -10px;

}
.info-profile-title{
  font-size: 18px;
  width: 430px;
  display: flex;
}
span.ant-avatar.ant-avatar-circle.ant-avatar-image.avatar-prof {
  margin: 41px;
}
.form-profile-view {
  margin: 30px;
}
button.ant-btn.ant-btn-text {
  color: white;
}
.form-edit {
  margin: 20px;
  font-size: 18px;
}
.edit-input-des {
  border: 2px solid black;
  margin-left: 20px;
  width: 320px;
}
p {
  margin-left: 5px;
}

.button-edit{
  margin-top: 20px;
}

.button-logout {
  margin-top: 17px;
  margin-left: 10px;
}
.link-home, .link-profile {
  font-size: 18px;
  margin: 20px;
  color: white;
}
